.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/workspace.xml
addressbook-web-tests/build/tmp/test/jar_extract_14456509595424658425_tmp
*.html
addressbook-web-tests/build/tmp/test/jar_extract_9861056514583772576_tmp
addressbook-web-tests/build/tmp/test/jar_extract_8734494634150427174_tmp
*.css
*.js
*.bin
*.idx
*.xml
addressbook-web-tests/build/tmp/test/jar_extract_10033616686723270596_tmp
addressbook-web-tests/build/tmp/test/jar_extract_10723323548150949705_tmp
addressbook-web-tests/build/tmp/test/jar_extract_11049224764644860519_tmp
addressbook-web-tests/build/tmp/test/jar_extract_9575312128476990013_tmp
addressbook-web-tests/build/tmp/test/jar_extract_9372634787342837662_tmp
addressbook-web-tests/build/tmp/test/jar_extract_9246320609884335191_tmp
addressbook-web-tests/build/tmp/test/jar_extract_9197705030409427400_tmp
addressbook-web-tests/build/tmp/test/jar_extract_9185341640345960913_tmp
addressbook-web-tests/build/tmp/test/jar_extract_9166721832202511889_tmp
addressbook-web-tests/build/tmp/test/jar_extract_8999274681489454361_tmp
addressbook-web-tests/build/tmp/test/jar_extract_107543690522549032_tmp
addressbook-web-tests/build/tmp/test/jar_extract_10847718835721675515_tmp
addressbook-web-tests/build/tmp/test/jar_extract_11131950609275089510_tmp
addressbook-web-tests/build/tmp/test/jar_extract_11287834435376838484_tmp
addressbook-web-tests/build/tmp/test/jar_extract_11614209830633449192_tmp
addressbook-web-tests/build/tmp/test/jar_extract_1168729783752056108_tmp
